.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
react-app/
notebooks/
webpack.config.js
images/noun_kanban_1476309.svg
images/Kanban Icons - Download Free Vector Icons - Noun Project.url
*.vsix
node_modules/