
* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans, sans-serif;
}

textarea {
    font-weight: normal !important;
    font-size: 14px !important;
    color: #172b4d !important;
}

section > header > span > textarea {
    font-weight: 600 !important;
}